<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="Standalone" value="true" />
    <!--是否允许单独运行，不经由后台服务启动-->
    <add key="EnableWriteFile" value="true" />
    <!--开关文件输出-->
    <add key="MaxFileKiloByte" value="10000" />
    <!--文件最大千字节数-->
    <add key="MaxFileNum" value="10" />
    <!--每主题最大文件数-->
    <add key="WriteFileInterval" value="2000" />
    <!--写文件间隔-->
    <add key="FileNameSuffix" value="txt" />
    <!--文件名后缀-->
    <add key="OutputPath" value=".\Data" />
    <!--文件输出位置-->
    <add key="CommandServerPort" value="8216" />
    <!--指令服务端口-->
    <add key="mqttServerIP" value="127.0.0.1" />
    <!--MQTT服务地址-->
    <add key="mqttServerPort" value="1883" />
    <!--MQTT服务端口-->
    <add key="IDMVS1IP" value="192.168.6.6" />
    <!--IDMVS1地址-->
    <add key="IDMVS1Port" value="2001" />
    <!--IDMVS1端口-->
  </appSettings>
</configuration>
